name: Secret Scan (PR)

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

permissions:
  contents: read

jobs:
  secret-scan:
    uses: nscaledev/sre-shared-workflows/.github/workflows/secret-scan.yml@1
    with:
      scan-mode: pr
      base-sha: ${{ github.event.pull_request.base.sha }}
      head-sha: ${{ github.event.pull_request.head.sha }}
      fail-on-detection: "true"
    secrets: inherit
